{% extends 'base.html' %}
{% block content %}

<h3>Book Details</h3>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ book.name }}</span>
        <p>Author: {{ book.author }}</p>
        <p>Description: {{ book.description|linebreaks }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'books_update' book.id %}">Update Book</a>
        <a href="{% url 'books_delete' book.id %}">Delete Book</a>
      </div>
    </div>
  </div>

  <div class="col s6">
	<form action="{% url 'add_review' book.id %}" method="POST">
		{% csrf_token %}
			{{ review_form.as_p }}
			<button type="submit" class="btn">Add Review</button>
	</form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Finished</th><th>Rating</th><th>Review</th></tr>
      </thead>
      <tbody>
        {% for review in book.review_set.all %}
          <tr>
            <td>{{review.date}}</td>
            <td>{{review.finished}}</td>
            <td>{{review.get_rating_display}}</td>
            <td>{{review.review}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
	// Initialize the Date Selector
	const dateEl = document.getElementById('id_date');
	M.Datepicker.init(dateEl, {
		format: 'yyyy-mm-dd',
		defaultDate: new Date(),
		setDefaultDate: true,
		autoClose: true
	});
	// Initializes the checkbox
	
	// Initialize the select from materialize to select the Rating:
	const select = document.querySelector('select')
	M.FormSelect.init(select, {})
	// Initialize the Review:
</script>

{% endblock %}