{% extends 'base.html' %}
    

{% block content %}
    <h3>About the Book Collector</h3>
    <hr>
    <p>
        The Book Collector(TBC) is a hobby reader who has read books since an early age; as soon as recital of the ABC's was successful. TBC has spent countless hours in author created realities, immersing themself in anything from murder, betrayal, love, learning, etc...you name it, they have read it. Let's not forget those auto-biographies!!
    </p>
    <p>
        You are invited to scroll through the books in this collection, as well as the books that TBC's child has also collected over the years.  TBC's child has also inherited a great joy of reading.
    </p>
    <p>
        Welcome to the world of reading! We are excited to see where your next adventure takes you!
    </p>
{% endblock content %}
    
    

