{% extends 'base.html' %}

{% block content %}
    <img src="https://i.imgur.com/P1nHtnB.png" alt="library">
    <p>BELLE: (Now, with incredible interest) You have a library?</p>
    <p>COGSWORTH: (Thrilled that he has found something to interest her) Oh yes!  Indeed!</p>
    <p>LUMIERE:  With books!</p>
    <p>COGSWORTH:  Gads of books!</p>
    <p>LUMIERE:  Mountains of books!</p>
    <p>COGSWORTH:  Forests of books!</p>
    <p>LUMIERE:  Cascades...</p>
    <p>COGSWORTH:  ...of books!</p>
    <p>LUMIERE:  Swamps of books!</p>
    <p>COGSWORTH:  More books than you'll ever be able to read in a lifetime!  Books on every subject ever studied, by every author who ever set pen to paper...</p>
{% endblock content %}
    
